@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;800&family=Open+Sans:wght@400;700&display=swap');

.body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2 {
  font-family: 'Mulish', sans-serif;
}
.banner {
  display: flex;
  align-items: center;
  background-image: url(background.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: rgb(250,250,250);
  text-shadow: 0 0 8px rgba(0,0,0,0.3);
}

.banner-content {
  background-color: rgba(0,0,0,0.3);
  backdrop-filter: blur(10px);
  padding: 24px;
}

.banner .title {
  text-align: center;
  margin-bottom: 80px;
}

.banner h1 {
  font-size: 88px;
  font-weight: lighter;
  margin: 32px;
}

.banner p {
  font-size: 24px;
  text-align: center;
  color: rgb(240,240,240);
}

.coming-soon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coming-soon h2 {
  font-weight: normal;
  font-size: 20px;
}

@media (max-width:700px) {
  .banner h1 {
    font-size: 48px;
  }
  .banner p {
    font-size: 16px;
    text-align: justify;
  }

  .coming-soon .btn {
    width: 100%;
  }
}
